@import "tailwindcss";

@plugin "tailwindcss-animate";

@theme {
  --font-sans: "Inter", "sans-serif";
}

:root {
  font-family: var(--font-sans);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
